body{
    background: url(./imagenes/FONDO.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.paper{
    width: 80%;
    height: 80%;
}

li {
    list-style: none;
    padding-bottom: 5px;
}

/* header */

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1165651037/es/foto/negro-fondo-de-fondo-textura-interior-y-pared-exterior-de-piedra-en-blanco-para-el-dise%C3%B1o.jpg?s=612x612&w=0&k=20&c=4VdOuEc8hGBv2YDaK3lJHfVdrs-N2SZFg4rHNjgr4Q8=);
    color: gray;
}

.header__photo{
    margin: 20px 0px 0px 0px;
    border-radius: 20%;  
    box-shadow: 0 0 15px #858585;
    background: #6e6d6d;
}

.header__h1, .header__p{
    padding: 0px;
    margin: 0px;
}

/* main */

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.main__personaldata {
    margin: 0;
    padding: 3px;
    background-color: rgb(138, 137, 137);
    width: 25%;
    height: 100%;
}

.main__profile{
    margin: 0;
    padding: 3px;
    background-color: rgb(238, 233, 233);
    width: 75%;
}

.personaldata__img-icon{
    height: 15px;
    height: 15px;
    padding: 3px 0px 0px 0px;
}

.personaldata__img-division{
    height: 20px;
    width: 70%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.personaldata__link{
    color: black;
    font-size: 12px;
}

/* footer */

.footer{
    width: 100%;
    background-color: rgb(209, 208, 208);
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.footer__img{
    height: 30px;
    height: 30ppx;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin:7px;
    transition: all .4s ease-in-out;

}

.footer__img:hover {
    height: 30px;
    height: 30ppx;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 50px;
    margin:7px;
    transform: scale(1.2);
}
